# Database Configuration
DATABASE_URL=postgresql://postgres.iaasozzirskirzepbfia:Supabase@DB1@aws-0-ap-south-1.pooler.supabase.com:6543/postgres

# ImageKit Configuration (for image uploads)
IMAGEKIT_PUBLIC_KEY=public_I6881syKXHRetEz0Z8kVTEw+mFY=
IMAGEKIT_PRIVATE_KEY=private_qgBTdYrUxlKQx01Wb5XADXTDvgg=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/cjdokyuzp

# Google Sheets Configuration (if using)
# GOOGLE_SHEETS_PRIVATE_KEY_ID=your_private_key_id
GOOGLE_SHEETS_PRIVATE_KEY=c15a18ff5a689a75b30e1a84161eddec817bbfd0
GOOGLE_SHEETS_CLIENT_EMAIL=herbalmg-301@herbalmg-9a3e8.iam.gserviceaccount.com
GOOGLE_SHEETS_CLIENT_ID=106964828504263844852

# Server Configuration
PORT=3001
NODE_ENV=development

